:root {
  font-size: 62.5%;
}
/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bilbo", cursive;
  font-weight: 500;
  overflow: hidden;
  gap: 10px;
}

body {
  background-image: url(/Images/Peter/constantino-co-7VHb2vO2r18-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(10, 10, 10);
  height: 100vh;
  width: 100vw;
}
/* ------------------------------------------------------------------------------ */
h1 {
  font-size: 12rem;
  text-align: center;
  padding-top: 5rem;
  color: antiquewhite;
  text-shadow: 4px 6px 9px rgba(0, 0, 0, 0.82);
}

.character-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

.character-gandalf {
  grid-area: 1 / 1 / 3 / 4;
}

.row-left-img1 {
  grid-area: 1 / 1 / 2 / 2;
}

.row-left-charactername {
  grid-area: 2 / 1 / 3 / 2;
}

.row-middle {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.4fr 0.6fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "row-middle-about"
    "row-middle-skizze";
  grid-area: 1 / 2 / 3 / 3;
}

.row-middle-about {
  grid-area: row-middle-about;
}

.row-middle-skizze {
  grid-area: row-middle-skizze;
}

.row-right-characterdetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "details-lio details-rio"
    "details-liu details-riu";
  grid-area: 1 / 3 / 3 / 4;
}

.details-lio {
  grid-area: 1 / 2 / 3 /4;
}

.details-rio {
  grid-area: 1 / 2 / 3 /4;
}

.details-liu {
  grid-area: 1 / 2 / 3 /4;
}

.details-riu {
  grid-area: 1 / 2 / 3 /4;
}

img {
  object-fit: cover;
}